{% load static %}

{% block header %}
<div class="header-container row">
    <div class="logo-div text-center item-align-mid">
        <a href="{% url 'dashboard' %}">
            <img src="{% static "img/univ-logo.png" %}" alt="univ-logo"/>
        </a>
    </div>
    
    <div class="header-title-container item-align-mid">
        <h2 class="font-open-sans font-semi-bold">Student Centered e-Learning Environment</h2>
        <h5 class="font-open-sans font-semi-bold">(Dummy Version for Research)</h5>
    </div>
    {% if logged_in %}
    <div class="user-div item-align-mid">
        <div class="user-area">
            <div id="div-notif">
                <!-- https://fontawesome.com/icons/bell?style=solid -->
                <img class="align-top" src="{% static "img/notif-icon.png" %}" alt="notif-icon"/>
                {% if new_notif_count > 0 %}
                    <span class="notif-num">{{new_notif_count}}</span>
                {% endif %}
            </div>
            <div class="div-name">
                <h5 class="font-open-sans font-semi-bold">{{user_fullname}}</h5>
                <h6 class="font-open-sans font-regular right"><a href="{% url 'logout' %}">Log out</a></h6>
            </div> 
            <div class="div-user-icon">
                <a href="{% url 'profile' %}">
                    <!-- https://fontawesome.com/icons/user?style=solid -->
                    <img src="{% static "img/user-icon.png" %}" alt="user-icon"/>
                </a>
            </div>
        </div>
    </div>

    {% endif %}
</div>
{% endblock %}