{% extends "base.html" %}
{% load static %}

{% block title %} <title>Login</title>{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/auth/login.css' %}">
{% endblock %}


{% block content %}
<section id="login-section" class="font-open-sans">
    <div class="row">
        <div class="col">
            <h2 class="text-center font-bold">Login</h2>
            <div class="form-box">
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <p>
                            {{ field.label_tag }}<br>
                            {{ field }}
                            
                            <!-- {% if field.help_text %}
                            <small style="color: grey">{{ field.help_text }}</small>
                            {% endif %} -->
                            {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                            {% endfor %}

                            {% if field.label == "Password" %}
                            <span><input class="show-password" type="checkbox"> Show Password</span>
                            {% endif %}
                        </p>
                    {% endfor %}
                    <button type="submit" class="btn btn--block btn--green btn--green:hover">Log in</button>
                </form>
            </div>
            <div class="form-box__footer"></div>
        </div>
        <div class="col">
            <h2 class="text-center font-bold">Is this your first time here?</h2>
            <div class="form-box">
                <p class="text-center font-regular">Silahkan buat akun dengan menekan tombol di bawah ini.</p>
                <a class="btn btn--block btn--green btn--green:hover" href="{% url 'register' %}">Register</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}


{% block script %}
<script src="{% static 'js/login.js' %}"></script>
{% endblock %}