footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5rem;
}

.footer-line {
    height: 3px;
    background-color: #E2A500;
    width: 100%;
}

.footer-line-2 {
    height: 40px;
    background-color: #323A45;
    width: 100%;
}

.footer-line-3 {
    height: 1px;
    background-color: #444444;
    width: 100%;
}

.footer-line-4 {
    height: 60px;
    background-color: #292F38;
    width: 100%;
    padding: 1.3rem 4rem;
}

.footer-line-4 div, .footer-line-4 p {
    display: inline;
}

.email {
    margin-right: 3rem;
}

.label {
    color: #8DBAC7;
}

.value {
    color: #D69A24;
}