{% extends "base.html" %}
{% load static %}
{% load models_manipulations %}

{% block title %}
    {% if is_gamified %}
        <title>MPKT A Kelas Y: Badges</title>
    {% else %}
        <title>MPKT A Kelas X: Badges</title>
    {% endif %}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/course-badges.css' %}">
{% endblock %}


{% block content %}
<section id="course-badges">
    <div class="breadcrumb-menu">
        <a href="{% url 'dashboard' %}">Dashboard</a>
        <p>></p>
        {% if is_gamified %}
        <a href="{% url 'course' %}">MPKT A Kelas Y</a>
        {% else %}
        <a href="{% url 'course' %}">MPKT A Kelas X</a>
        {% endif %}
        <p>></p>
        <p>Badges</p>
    </div>
    <div class="content">
        <h3 class="font-bold">
            {% if is_gamified %}
            MPKT A Kelas Y: Badges
            {% else %}
            MPKT A Kelas X: Badges
            {% endif %}</h3>
        <h4 class="font-bold">Number of badges available: {{badges|list_size}}</h4>
        <hr>
        <div class="badges-selector font-bold">
            <p id="badge-participation" class="text-center active">Participation</p>
            <p id="badge-skill" class="text-center">Skills</p>
        </div>
        <table>
            <thead class="text-center">
                <th>Image</th>
                <th>Name</th>
                <th>Description</th>
                <th>Criteria</th>
                <th>Issued to me</th>
            </thead>
            <tbody>
                {% for badge in badges %} 
                    {% if badge.receiving_type == 's'  %}
                    <tr class="skill-badge collapse">
                    {% else %}
                    <tr class="participatory-badge">
                    {% endif %}
                        <td class="text-center">
                            {% if badge|is_issued_to_me:user %}
                            <a href="{% url 'badge-detail' code=badge.code %}">
                                <img src="{% static badge.img_loc %}" alt="badge.name">
                            </a>
                            {% else %}
                            <img src="{% static badge.img_loc %}" alt="badge.name">
                            {% endif %}
                        </td>
                        <td class="text-center">{{badge.name}}</td>
                        <td>{{badge.desc}}</td>
                        <td>{{badge.criteria|safe}}</td>
                        
                        {% if badge|is_issued_to_me:user %}
                        <td class="text-center">
                            <a href="{% url 'badge-detail' code=badge.code %}">
                                <img src="{% static 'img/check-icon.png' %}" alt="check-icon" />
                            </a>
                        </td>
                        {% else %}
                        <td></td>
                        {% endif %}
                        
                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}

{% block script %}
<script src="{% static 'js/course-badges.js' %}"></script>
{% endblock %}