{% extends 'base.html' %}
{% load static %}

{% block title %}
    {% if is_gamified %}
        <title>Course: MPKT A Kelas Y</title>
    {% else %}
        <title>Course: MPKT A Kelas X</title>
    {% endif %}
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/course.css' %}">
{% endblock %}


{% block content %}
<section id="course">
    <div class="breadcrumb-menu font-open-sans">
        <a href="{% url 'dashboard' %}">Dashboard</a>
        <p>></p>
        {% if is_gamified %}
        <p>MPKT A Kelas Y</p>
        {% else %}
        <p>MPKT A Kelas X</p>
        {% endif %}
    </div>
    <div class="content row">
        <div class="col-8">
            <div class="section-line">
                <p class="font-open-sans font-bold">Activity</p>
                <!-- <div class="section-box">
                    <p class="font-open-sans font-bold">Activity</p>
                </div> -->
            </div>
            <div class="menu-item">
                <a href="">
                    <img src="{% static 'img/forum-icon.png' %}" alt="forum-icon">
                    <p>Forum</p>
                </a>
            </div>
            <div class="menu-item">
                <a href="">
                    <img src="{% static 'img/link-icon.png' %}" alt="forum-icon">
                    <p>Course Badges</p>
                </a>
            </div>
        </div>
        
    </div>
</section>
{% endblock %}
    