{% extends 'base.html' %}
{% load static %}

{% block title %}
    {% if is_gamified %}
        <title>Course: MPKT A Kelas Y</title>
    {% else %}
        <title>Course: MPKT A Kelas X</title>
    {% endif %}
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/course.css' %}">
{% endblock %}


{% block content %}
<section id="course">
    <div class="breadcrumb-menu font-open-sans">
        <a href="{% url 'dashboard' %}">Dashboard</a>
        <p>></p>
        {% if is_gamified %}
        <p>MPKT A KELAS Y</p>
        {% else %}
        <p>MPKT A Kelas X</p>
        {% endif %}
    </div>
    <div class="content row">
        <div class="col-8">
            <!-- INTRODUCTION -->
            <div class="section-line">
                <p class="font-open-sans font-bold">Introduction</p>
            </div>
            <div class="intro text-center">
                {% if is_gamified %}
                <p class="font-open-sans font-bold title">Selamat datang di MPKT A Kelas Y</p>
                {% else %}
                <p class="font-open-sans font-bold title">Selamat datang di MPKT A Kelas X</p>
                {% endif %}
                <div class="intro__content">
                    <p class="font-open-sans">Instruktur:</p>
                    <p class="font-open-sans">Rico Putra Pradana</p>
                </div>
                <div class="intro__content">
                    <p class="font-open-sans">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
            <!-- ACTIVITY -->
            <div class="section-line">
                <p class="font-open-sans font-bold">Activity</p>
            </div>
            <div class="menu-item">
                <a href="{% url 'forum' %}">
                    <img src="{% static 'img/forum-icon.png' %}" alt="forum-icon">
                    <p>Forum</p>
                </a>
            </div>
            
            {% if is_gamified %}
            <div class="menu-item">
                <a href="{% url 'course-badges' %}">
                    <img src="{% static 'img/link-icon.png' %}" alt="forum-icon">
                    <p>Course Badges</p>
                </a>
            </div>
            {% endif %}
        </div>

        <div class="col-4">
            <!-- LATEST BADGE -->
            {% if is_gamified == True %}
            <div class="box-info font-open-sans">
                <div class="box-info__header">
                    <img src="{% static 'img/star-section-2-icon.png' %}" alt="notif-icon"/>
                    <h6 class="font-bold">Your latest badge</h6>
                    <a class="right"  href="{% url 'profile' %}">View all</a>
                </div>
                <hr>
                {% if latest_badge %}
                <div class="latest-badge">
                    <a href="{% url 'badge-detail' code=latest_badge.badge.code %}" class="text-center">
                        <img src="{% static latest_badge.badge.img_loc %}" alt="user-icon"/>
                    </a>                            
                    <a href="{% url 'badge-detail' code=latest_badge.badge.code %}" class="text-center">{{latest_badge.badge.name}}</a>
                </div>
                {% else %}
                <p>You have no badge to display</p>
                {% endif %}
            </div>
            {% endif %}

            <!-- ACTIVITY RESULTS -->
            <div class="box-info font-open-sans">
                <div class="box-info__header">
                    <img src="{% static "img/activity-icon.png" %}" alt="notif-icon"/>
                    <h6 class="font-bold">Your activity results</h6>
                </div>
                <hr>
                <div id="activity-results">
                    {% if is_gamified == True %}
                    <table>
                        <tr>
                            <th colspan="3">Behavioral Engagement</th>
                        </tr>
                        <tr>
                            <td>Posts</td>
                            <td>:</td>
                            <td>{{posts_count}}</td>
                        </tr>
                        <tr>
                            <td>Replies</td>
                            <td>:</td>
                            <td>{{replies_count}}</td>
                        </tr>
                        <tr>
                            <td class="white">A</td>
                        </tr>
                        <tr>
                            <th colspan="3">Emotional Engagement</th>
                        </tr>
                        <tr>
                            <td>Likes given</td>
                            <td>:</td>
                            <td>{{likes_given_count}}</td>
                        </tr>
                        <tr>
                            <td>Likes earned</td>
                            <td>:</td>
                            <td>{{likes_earned_count}}</td>
                        </tr>
                        <tr>
                            <td class="white">A</td>
                        </tr>
                        <tr>
                            <th colspan="3">Cognitive Engagement</th>
                        </tr>
                        <tr>
                            <td>Grades</td>
                            <td>:</td>
                            <td>{{grades}}</td>
                        </tr>
                        <tr>
                            <td>Bonuses</td>
                            <td>:</td>
                            <td>0</td>
                        </tr>
                    </table>
                    {% else %}
                    <div id="activity-results--nogamified" class="row">
                        <div class="col-4">
                            <p>Posts</p>
                            <p>Replies</p>
                            <p>Grades</p>
                        </div>
                        <div class="col-8">
                            <p>: {{posts_count}}</p>
                            <p>: {{replies_count}}</p>
                            <p>: {{grades}}</p>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}