{% extends "base.html" %}
{% load static %}

{% block title %} <title>Dashboard</title>{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block content %}
<section id="dashboard">
    <div class="breadcrumb-menu">
        <a href="{% url 'dashboard' %}">Dashboard</a>
    </div>
    <div class="content">
        <div class="section-line">
            <img src="{% static "img/star-section-icon.png" %}" alt="notif-icon"/>
            <div class="section-box">
                <p class="font-open-sans font-bold">Course Overview</p>
            </div>
        </div>
        <div class="row">
            {% if is_gamified %}
            <div class="col-12 col-sm-4 col-md-3 col-lg-2 class-box">
                <div class="class-box-content">
                    <div class="class-img--gamified"></div>
                    <p class="text-center font-open-sans font-bold">MPKT A Kelas Y</p>
                </div>
            </div>
            <div class="col-12 col-sm-4 col-md-3 col-lg-2 class-box">
                <p class="text-center font-open-sans font-bold">Akses kelas ini telah ditutup</p>
                <div class="class-box-content blur">
                    <div class="class-img"></div>
                    <p class="text-center font-open-sans font-bold">MPKT A Kelas X</p>
                </div>
            </div>
            {% else %}
            <div class="col-12 col-sm-4 col-md-3 col-lg-2 class-box">
                <div class="class-box-content">
                    <div class="class-img"></div>
                    <p class="text-center font-open-sans font-bold">MPKT A Kelas X</p>
                </div>
            </div>
            <div class="col-12 col-sm-4 col-md-3 col-lg-2 class-box">
                <p class="text-center font-open-sans font-bold">Akses kelas ini dibuka Senin, 30 Maret 2020</p>
                <div class="class-box-content blur">
                    <div class="class-img--gamified"></div>
                    <p class="text-center font-open-sans font-bold">MPKT A Kelas Y</p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}

