{% extends "base.html" %}
{% load static %}
{% load models_manipulations %}

{% block title %} <title>Forum Diskusi</title>{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/forum.css' %}">
{% endblock %}


{% block content %}
<section id="forum">
    <div class="breadcrumb-menu font-open-sans">
        <a href="{% url 'dashboard' %}">Dashboard</a>
        <p>></p>
        {% if is_gamified %}
        <a href="{% url 'course' %}">MPKT A Kelas Y</a>
        {% else %}
        <a href="{% url 'course' %}">MPKT A Kelas X</a>
        {% endif %}
        <p>></p>
        <p>Forum</p>
    </div>
    <div class="content font-open-sans">
        <h2 class="font-bold">Forum</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit</p>
        <a class="btn btn--green btn--green:hover" href="">Add a new discussion</a>
        
        {% if posts %}
        <table>
            <thead>
                <th class="first-col">Discussion</th>
                <th>Started by</th>
                <th class="text-center">Replies</th>
                <th class="last-col text-right">Last post/reply</th>
            </thead>
            <tbody>
                {% for post in posts %}
                    
                    {% if post.is_gamified %}
                    <tr>
                        <td class="first-col">
                            <a href="{% url 'post' id=post.id %}">
                                <div>
                                    <p>{{post.subject}}</p>
                                </div>
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'post' id=post.id %}" class="creator-col">
                                <img src="{% static 'img/user-icon.png' %}" alt="">
                                <p>{{post.creator|get_fullname}}</p>
                            </a>
                        </td>
                        <td class="text-center">
                            <a href="{% url 'post' id=post.id %}">
                                <p>{{post|get_replies_size}}</p>
                            </a>
                        </td>
                        <td class="last-col text-right">
                            <a href="{% url 'post' id=post.id %}">
                                <p>{{post|get_last_user}}</p>
                                <p>{{post.created_at}}</p>
                            </a>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}   
            </tbody>
        </table>
        {% else %}
        <p>(There are no discussion yet in this forum)</p>
        {% endif %}
    </div>
</section>
{% endblock %}
    