{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Pemberitahuan</title>
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/notifications.css' %}">
{% endblock %}


{% block content %}
<section id="notifs">
    <div class="breadcrumb-menu font-open-sans">
        <a href="{% url 'dashboard' %}">Dashboard</a>
        <p>></p>
        <p>Pemberitahuan</p>
    </div>
    <div class="content">
        <h2 class="font-bold">Pemberitahuan</h2>
        <hr>
        <div id="notif-area">
            <div class="notif-item">
                <div class="notif-item__img">
                    <img src="{% static 'img/badges/participation/initiator-badge.png' %}" alt="">
                </div>
                <div class="notif-item__details">
                    <p>Nama</p>
                    <p>Waktu</p>
                </div>
            </div>
            <div class="notif-item">
                <div class="notif-item__img">
                    <img src="{% static 'img/badges/participation/initiator-badge.png' %}" alt="">
                </div>
                <div class="notif-item__details">
                    <p>Nama</p>
                    <p>Waktu</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
    