{% extends 'base.html' %}
{% load static %}
{% load models_manipulations %}

{% block title %}
    <title>Notifikasi</title>
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/notifications.css' %}">
{% endblock %}


{% block content %}
<section id="notifs">
    <div class="breadcrumb-menu font-open-sans">
        <a href="{% url 'dashboard' %}">Dashboard</a>
        <p>></p>
        <p>Notifikasi</p>
    </div>
    <div class="content">
        <h2 class="font-bold">Notifikasi</h2>
        <hr>
        <div id="notif-area">
            {% if has_notif %}
                {% for notif in all_notif %}
                    <div class="notif-item" data-obj_id="{{notif.id}}">
                        <div class="notif-item__img">
                            <img src="{% static notif.img_loc %}" alt="">
                        </div>
                        <div class="notif-item__details">
                            <p>{{notif.title|safe}}</p>
                            <sub>{{notif.created_at|get_formatted_time}}</sub>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p class="text-center">Anda tidak memiliki notifikasi</p>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}

{% block script %}
<script>
    var forum_url = "{% url 'forum' %}";
    var notif_url = "{% url 'opennotif' %}";
    var post_url = "{% url 'post' id=0 %}";
</script>
<script src="{% static 'js/notifications.js' %}"></script>
<script src="{% static 'js/bootstrap/jquery-3.4.1.min.js' %}"></script>
{% endblock %}