{% extends "base.html" %}
{% load static %}
{% load models_manipulations %}

{% block title %}
    {% if is_gamified %}
        <title>MPKT A Kelas Y - Forum: {{post.subject}}</title>
    {% else %}
        <title>MPKT A Kelas X - Forum: {{post.subject}}</title>
    {% endif %}
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/post.css' %}">
{% endblock %}


{% block content %}
<section id="post">
    <div class="breadcrumb-menu font-open-sans">
        <a href="{% url 'dashboard' %}">Dashboard</a>
        <p>></p>
        {% if is_gamified %}
        <a href="{% url 'course' %}">MPKT A Kelas Y</a>
        {% else %}
        <a href="{% url 'course' %}">MPKT A Kelas X</a>
        {% endif %}
        <p>></p>
        <a href="{% url 'forum' %}">Forum</a>
        <p>></p>
        <p>{{post.subject}}</p>
    </div>
    <div class="content font-open-sans">
        <h2 class="font-bold">Forum</h2>
        <h4 class="font-bold">{{post.subject}}</h4>
        <!-- <p>{{post|get_last_reply}}</p> -->

        <div id="content-area">
            <div class="box-item" id="post-item">
                <div class="box-item__main-content">
                    
                    {% if post.creator == user %}
                    <a href="{% url 'profile' %}">
                        <img src="{% static 'img/user-icon.png' %}" alt="user-icon">
                    </a>
                    {% else %}
                    <img src="{% static 'img/user-icon.png' %}" alt="user-icon">
                    {% endif %}
                        
                    <div class="box-item__content">
                        <div id="box-item__content__header">
                            <p class="font-bold">{{post.subject}}</p>
                            <p>by 
                                <span>
                                {% if post.creator == user %}
                                <a href="{% url 'profile' %}">{{user_fullname}}</a>
                                {% else %}
                                    {{post|get_creator}}
                                {% endif %}
                                </span>
                                - {{post.created_at}}
                            </p>
                        </div>
                        <div class="box-item__content__msg">{{post.msg|safe}}</div>
                    </div>
                </div>
                <div class="box-item__content__footer">
                    
                    {% if total_likes > 0 %}
                    <a href="" class="likes-count" id="postliker" data-obj_id="{{post.id}}" data-toggle="modal" data-target="#likersModal">{{total_likes}} likes</a>
                    {% else %}
                    <a href="" class="likes-count hidden">0 like</a>
                    {% endif %}
                        
                    
                    <div class="right">
                        
                        {% if user_has_liked %}
                            <a href="" class="btn-like liked" id="postlike" data-obj_id="{{post.id}}">Unlike</a>
                        {% else %}
                            <a href="" class="btn-like" id="postlike" data-obj_id="{{post.id}}">Like</a>
                        {% endif %}
                         | 
                        <a href="{% url 'addreply' post_id=post.id parent_type='0' parent_id=post.id %}">Reply</a>
                    </div>
                </div>
            </div>
            <div>
                {% if replies %}
                    {{replies|get_replies_tags:user|safe}}
                {% endif %}
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="likersModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title w-100 text-center font-bold" id="exampleModalLongTitle">Likes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        ...
    </div>
    </div>
</div>
</div>
{% endblock %}
{% block script %}
<script src="{% static 'js/post.js' %}"></script>
<script src="{% static 'js/bootstrap/jquery-3.4.1.min.js' %}"></script>
{% endblock %}