#dashboard {
    padding: 1rem 2rem;
}

.breadcrumb-menu a {
    display: inline;
    color: #7B5A60;
}

.content {
    padding: 1rem 2rem;
}

.section-line {
    width: 100%;
    height: 2.7rem;
    background-color: #F4F4F4;
    margin-bottom: 2rem;
}

.section-box {
    color: rgb(153, 144, 120);
    font-size: 1.3rem;
    vertical-align: middle;
}

.section-line img, .section-box {
    height: 2.7rem;
}

.section-line img, .section-box, .section-box p {
    display: inline;
}

/* Class box */

.class-box {
    padding: 0;
    margin: 1rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 20px rgba(0, 0, 0, 0.19);
}

.class-box-content {
    padding: 0.8rem 0.8rem 2rem;
}

.class-img {
    background-color: #6C5CE7;
    height: calc(100vh * 3 / 12);
    margin-bottom: 0.8rem;
}

.blur {
    filter: blur(2px);
    -webkit-filter: blur(2px);
    background-color: #C1B9B9;
}

.class-box > p {
    position: absolute;;
    top: 50%;
    left: 10%;
    transform: translate(-5%,-50%);
    z-index: 1;
}