html {
    font-size: 14px;
}

.item-align-mid {
    margin: auto 0;
}

.header-container {
    background-color: #333333;
    color: #fff;
    padding-left: 1rem;
}

.header-title-container {
    padding: 0;
}

.user-area {
    display: grid;
}

.div-notif {
    grid-column: 1;
    grid-row: 1;
    padding-top: 1rem;
    margin: 0 0.25rem;
}

.div-name {
    grid-column: 2;
    grid-row: 1;
    padding-top: 1rem;
    margin: 0 0.5rem;
}

.div-user-icon {
    grid-column: 3;
    grid-row: 1;
    margin: 0 1rem;
}

/* Fonts */
.font-open-sans {
    font-family: 'Open Sans', sans-serif;
}

.font-regular {
    font-weight: 400;
}

.font-semi-bold {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}

.font-extra-bold {
    font-weight: 800;
}

/* Alignment */
.right {
    float: right;
}