html {
    font-size: 14px;
}

.header-container {
    background-color: #333333;
    color: #fff;
}

.header-container div {
    margin: auto 0;
}

.header-title-container {
    padding: 0;
}

#header-title {
    font-family: 'Open Sans', sans-serif;
}

#header-subtitle {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}