#forum {
    padding: 1rem 2rem;
    color: #555;
}

.breadcrumb-menu a, .breadcrumb-menu p {
    display: inline;
    color: #7B5A60;
}

.content {
    padding: 2rem 2rem 1rem;
}

.content table {
    width: 100%;
}

.first-col {
    padding-left: 1rem;
}

.last-col {
    padding-right: 1rem;
}

.creator-col img, .creator-col p {
    display: inline;
}

.creator-col img {
    max-height: 38px;
    margin-right: 0.5rem;
}

.creator-col p {
    vertical-align: top;
}

thead th {
    padding-bottom: 0.5rem;
}

tbody td {
    
    padding-top: 0.5rem;
    padding-bottom: 3rem;
    vertical-align: top;
}

tbody tr:nth-child(odd) td {
    background-color: #F9F9F9;
}

tbody a, tbody a:hover {
    color: #966B00;
    text-decoration: none;
}

tbody p {
    margin: 0;
}

/* BUTTON */

.btn {
    border-radius: 0;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 0.5rem 2rem;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 20px rgba(0, 0, 0, 0.19);
}

.btn--green {
    background-color: #8EC63F;
    color: #fff;
}

.btn--green:hover {
    background-color: #77AE29;
    color: #fff;
}
