#post {
    padding: 1rem 2rem;
    color: #555;
}

.breadcrumb-menu a, .breadcrumb-menu p {
    display: inline;
    color: #7B5A60;
}

.content {
    padding: 2rem 2rem 1rem;
}

box-item img {
    max-height: 38px;
    border-radius: 100%;
}