#post {
    padding: 1rem 2rem;
    color: #555;
}

.breadcrumb-menu a, .breadcrumb-menu p {
    display: inline;
    color: #7B5A60;
}

.content {
    padding: 2rem 13rem 1rem 2rem;
}

#content-area {
    margin-top: 2rem;
}

.box-item {
    background-color: #F9F9F9;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    margin-bottom: 1rem;
    border-left-color: #E2A500;
    border-left-style: solid;
    border-right: 1px solid #E3E3E3;
    border-top: 1px solid #E3E3E3;
    border-bottom: 1px solid #E3E3E3;
    width: 100%;
}

.indent {
    margin-left: 3%;
}

.box-item__main-content {
    display: flex;
}

.box-item a, .box-item a:hover {
    color: #966B00;
    text-decoration: none;
}

.box-item img {
    max-height: 38px;
    border-radius: 100%;
    margin-right: 1rem;
}

.box-item__content {
    width: 100%;
}

.box-item__content p:not(.box-item__content__msg) {
    margin: 0;
}

.box-item__content__msg {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.box-item__content__footer p {
    display: inline;
}