/* GENERAL */

.white {
    color: #f2f2f2;
}

/* PROFILE SECTION */

#profile {
    padding: 1rem 2rem;
    color: #7B5A60;
}

.breadcrumb-menu a, .breadcrumb-menu p {
    display: inline;
    color: #7B5A60;
}

.content {
    padding: 1rem 0;
}

/* Picture & Name */

#pictname {
    padding: 0.5rem;
    background-color: #f2f2f2;
    border-radius: 5px;
}

#pictname img, #pictname h5 {
    display: inline;
}

#pictname h5 {
    margin-left: 1rem;
}

/* User Info Details */

#details, #badges-area {
    margin-top: 2rem;
}

#details hr, #badges-area hr {
    margin-top: 0;
}

#details h6 {
    margin-bottom: 0;
}

#details a {
    color: #826D1C;
}

#badges-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}

#badges-container div {
    padding: 0 1.5rem 2rem 1.5rem;
    max-width: 130px;
}

#badges-container a {
    display: block;
}

#badges-container a {
    margin-top: 0.5rem;
    color: #7B5A60;
}

/* BOX INFO: Latest Badge */

.box-info {
    padding: 1rem 0.5rem;
    background-color: #f2f2f2;
    border-radius: 5px;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 1rem;
}

.box-info a {
    color: #826D1C;
}

.box-info hr {
    margin: 3px 0.5rem 0.5rem;
}

.box-info p {
    margin-left: 1rem;
    margin-bottom: 0;
}

.box-info__header img, .box-info__header h6, .box-info__header a {
    display: inline;
}

.box-info__header {
    padding-right: 1rem;
}

.box-info__header img {
    margin-right: 0.5rem;
    border-radius: 5px;
}

.box-info__header h6 {
    font-size: 15px;
    margin: 0;
}

.box-info__header a {
    margin: 5px;
}

.latest-badge a {
    display: block;
    margin-top: 0.5rem;
}

.latest-badge img {
    margin: 0;
}

#activity-results {
    padding: 0 1rem;
}

#activity-results--nogamified.col-4 {
    padding: 0;
}

#activity-results--nogamified p  {
    margin: 0;
} 